.App {
  font-family: futura;
  text-align: center;
  color: white;
  height: 100vh;
  position: relative;
}
button {
  font-family: futura;
  margin: 3px 10px;
  border-radius: 18px;
  border: none;
  font-weight: 600;
  color: white;
  background-color: black;
  padding: 5px 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button:hover {
  transition: 700ms ease-in;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.statusContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 40%;
}
.status {
  max-width: 490px;
  margin: 0 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(grey, black, greenyellow);
  border: 2px solid greenyellow;
  padding: 24px;
  border-radius: 12px;
}
